<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="row navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#c63254">
                <i class="fab fa-twitter"></i> Fish-Talk Conversations</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li><a href="/tweets">*Tweet Page*</a></li>

                <li><a href="/tweets/new">*New Tweet*</a></li>

                <li><a href="/home">*Map*</a> </li>

                <li><a href="/weather">*Weather*</a> </li>

                <li><a href="https://www.trackerboats.com/deep-v.html">*Sponsor-Boats*</a></li>

                <li><a href="https://www.dickssportinggoods.com/search/SearchDisplay?categoryId=&storeId=15108&catalogId=12301&langId=-1&sType=SimpleSearch&resultCatEntryType=2&showResultsPage=true&fromPage=Search&searchSource=Q&pageView=&beginIndex=0&pageSize=48&searchTerm=fishing+lures&DSGsearchType=Keyword&advsearch=true&SearchType=Keyword&filterFacets=facetStore%3AISA%2CSHIP">*Sponsor-Lures*</a></li>

                <li><a href="https://www.academy.com/shop/browse/outdoors/fishing/new-fishing-gear/new-fishing-clothing">*Sponsor-Clothing*</a></li>

                <li><a href="https://www.vrbo.com/search/keywords:louisiana-usa/filter:64?k_clickid=506ed73042d51f04fdd0b763f474f45b&ds_kids=p37957030023&ds_kid=43700037957030023&ksprof_id=700000001595127&ksdevice=c&ktarget=kwd-73049028252982:loc-190&kloct=51246&klocf=76040&utm_source=MICROSOFT&utm_medium=cpc&utm_campaign=D:USA-en:US:Louisiana:Auto:d3e3f29e-dec4-4b91-9645-ced43f5333b5&utm_term=%2Blouisiana+%2Bvacation+%2Brental&utm_content=louisiana_vacation+rental:%5Bd3e3f29e-dec4-4b91-9645-ced43f5333b5%5D:AutoGen&&msclkid=506ed73042d51f04fdd0b763f474f45b&utm_source=bing&utm_medium=cpc&utm_campaign=D%3AUSA-en%3AUS%3ALouisiana%3AAuto%3Ad3e3f29e-dec4-4b91-9645-ced43f5333b5&utm_term=%2Blouisiana%20%2Bvacation%20%2Brental&utm_content=louisiana_vacation%20rental%3A%5Bd3e3f29e-dec4-4b91-9645-ced43f5333b5%5D%3AAutoGen&gclid=506ed73042d51f04fdd0b763f474f45b&gclsrc=3p.ds">*Sponsor-Cabin Rentals*</a></li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #00aced">
                    @<span sec:authentication="name"></span></a>
                <li sec:authorize="isAuthenticated()"><a href="../logout">Logout</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="../login">Login</a></li>
            </ul>


<!--            <ul class="nav nav-tabs">-->
<!--                <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">-->
<!--                    <a href="/tweets">All</a></li>-->
<!--                <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">-->
<!--                    <a href="/tweets?filter=following">Following</a></li>-->
<!--            </ul><br/>-->




<!--            <div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">-->
<!--                <h3>No tweets have been created yet</h3>-->
<!--            </div>-->
<!--            <div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">-->
<!--                <h3>No tweets have been created by your followers</h3>-->
<!--            </div>-->


        </div>
    </div>
</nav>

</body>
</html>